<form [formGroup]="form">
    <mat-form-field appearance="fill" class="field">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
    </mat-form-field>

    <div class="field hidden">ID: <input formControlName="id" /></div>

    <mat-form-field appearance="fill" class="field">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-checkbox class="field" formControlName="completed">Is ToDo completed?</mat-checkbox>

    <button class="field" mat-raised-button color="primary" [disabled]="form.invalid" [mat-dialog-close]="form.value" (click)="addTodo()">
        <i class="material-icons">add_circle</i> Add ToDo
    </button>
</form>
