<div class="header">
    <button mat-raised-button color="primary" (click)="openDialog()"><i class="material-icons">add_circle</i> New ToDo</button>
</div>

<div class="list-wrapper">
    <app-todo-list class="list" [todos]="incompleteTodos$ | async" [delete]="deleteTodo.bind(this)" [update]="updateTodo.bind(this)"
        >Incomplete ToDos</app-todo-list
    >
    <app-todo-list class="list" [todos]="completedTodos$ | async" [delete]="deleteTodo.bind(this)" [update]="updateTodo.bind(this)"
        >Completed ToDos</app-todo-list
    >
</div>

<router-outlet></router-outlet>
